#count {
  text-align: center;
  font-size: 100px;
  padding-top: 15%;
  color: rgb(180, 180, 180);
}

#count .rejected {
  color: rgb(190, 70, 40);
}

#count .approved {
  color: rgb(80, 200, 100);
}

#count .todo {
  color: rgb(70, 100, 190);
}
