body, #container {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
/*  overflow: hidden;*/
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", 
    Calibri, Helvetica, Arial, sans-serif;
}

img {
  padding: 0;
  margin: 0;
}

img.slice {
  margin: 6px;
  background-color: #333;
}

div.detail {
  height: 10px;
  width: 100%;
  background-color: white;
  color: black;
}
