#count {
  text-align: center;
  font-size: 100px;
  padding-top: 15%;
  color: rgb(180, 180, 180);
}

#count .excluded {
  color: rgb(80, 200, 100);
}

#count .included {
  color: rgb(190, 70, 40);
}
