body, #container {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  /*  overflow: hidden;*/
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", 
    Calibri, Helvetica, Arial, sans-serif;
}

.clear-both { 
  clear: both; 
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

img.slice {
  margin: 6px;
  background-color: #333;
}

#popup {
  position: fixed;
  left: 4em;
  right: 4em;
  top: 1em;
  z-index: 1000;
  background-color: rgba(255,255,255,0.3);
  color: black;
  padding: 1em;
}

#popup .ident {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 2em;
}

#popup .ident a {
  text-decoration: none;
  color: white;
}

#popup .form {
  float: left;
}

#popup .query {
  width: 60%;
  background-color: rgba(255,255,255,0.7);
  font-weight: bold;
}

#content {
  padding-top: 5em;
}

.arrow-box {
  color: black;
  position: relative;
  background: #ffffff;
}

.arrow, .arrow-box:after {
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 12px;
  margin-left: -12px;
}

.arrow {
  position: relative;
}

.arrow-box:after {
  content: " ";
  position: absolute;
}

.arrow.top, .arrow-box.top:after {
  bottom: 100%;
  left: 50%;
  border-bottom-color: #ffffff;
}

.arrow.bottom, .arrow-box.bottom:after {
  top: 100%;
  left: 50%;
  border-top-color: #ffffff;
}

.detail {
  width: 100%;
  margin-top: -14px;
  margin-bottom: 20px;
}

.info {
  margin: 0.5em;
}

.info-text {
  background: white;
  color: black;
  padding: 0.6em 2em;
  min-height: 560px;
}

.info-text .image-preview {
  position: absolute;
}

.info-text .image-preview .image-wrap {
  width: 60%;
  height: 520px;
  background: black;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.info-text .image-preview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.info-text .info-detail {
  margin-left: 65%;
}

.info-text .info-detail .headline {
  font-size: 1.4em;
  font-weight: bold;
}

.info-text .info-detail .annotation {
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.info-text .info-detail .origin-date {
}

.info-text .info-detail dt {
  padding-top: 0.2em;
  font-weight: bold;
}

.notfound img {
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.tag, .btag {
  float: left;
}

.btag {
  float: right;
  margin-left: 1em;
  color: black;
}

.btag span {
  margin: 0 0.2em;
}

.tag {
  color: white;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

/* ------------------------------------- */

.wtag {
  color: white;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.foldout {
  background: white;
  color: black;
  white-space: nowrap;
  width: 100%;
}

.floater {
  margin-left: auto;
  margin-right: auto;
}

.picture, .text {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  border: 1px dotted red;
  padding: 1em;
}

.picture {
  width: 53%;
  background: #ddd;
  text-align: center;
}

.text {
  width: 40%;
}

.picture-wrapper {
  border: 1em solid black;
  background: black;
  position: relative;
}

.picture-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
