body, #container {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  /*  overflow: hidden;*/
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", 
    Calibri, Helvetica, Arial, sans-serif;
}

.clear-both { 
  clear: both; 
}

img.slice {
  margin: 6px;
  background-color: #333;
}

div#popup {
  position: fixed;
  left: 4em;
  right: 4em;
  top: 4em;
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
  color: black;
  padding: 1em;
}

.arrow-box {
  color: black;
  position: relative;
  background: #ffffff;
}

.arrow, .arrow-box:after {
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 12px;
  margin-left: -12px;
}

.arrow {
  position: relative;
}

.arrow-box:after {
  content: " ";
  position: absolute;
}

.arrow.top, .arrow-box.top:after {
  bottom: 100%;
  left: 50%;
  border-bottom-color: #ffffff;
}

.arrow.bottom, .arrow-box.bottom:after {
  top: 100%;
  left: 50%;
  border-top-color: #ffffff;
}

.detail {
  width: 100%;
  margin-top: -14px;
}

.info {
  margin: 0.5em;
}

.info-text {
  background: white;
  color: black;
  padding: 0.6em 2em;
  height: 560px;
}

.info-text .image-preview {
  position: absolute;
}

.info-text .image-preview div {
  width: 520px;
  height: 520px;
  background: black;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.info-text .image-preview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-text .info-detail {
  position: absolute;
  left: 570px;
}

.info-text .info-detail .headline {
  font-size: 1.4em;
  font-weight: bold;
}

.info-text .info-detail .annotation {
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.info-text .info-detail .origin-date {
}

.info-text .info-detail dt {
  padding-top: 0.2em;
  font-weight: bold;
}
