<!DOCTYPE html>
[% USE DataPrinter %]
<html>
  <head>
    <title>BBC Gateway Search</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="search">
      <form method="GET" action="/search">
        <input type="text" name="q" />
        <input type="submit" value="Go" />
      </form>
    </div>
    <div id="content">
      [% content %]
    </div>
  </body>
</html>
